<% form_for([:admin, @plano]) do |f| %>
  <% field_set_tag do %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :num_anuncios %>
    <%= f.text_field :num_anuncios %>
  </p>
  <p>
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </p>
  <%= f.hidden_field :usuario_id, :value => @current_usuario.id %>
  <%= f.hidden_field :status, :value =>1 %>
  <%end%>
<%= f.submit 'Salvar' %>
ou
<%= link_to 'Cancelar', admin_planos_path %>
<% end %>
